<div style="padding:2rem;background:lightgrey;text-align:center">

  Header

</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}
